.head {
    background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    padding: 16px;
    margin-bottom: 16px;
    padding-left: 4%;
}
.head__el {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #7e7e82;
    text-transform: uppercase;
}
@media (min-width: 768px) {
    .head {
        background-image: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
    }
}
 
@media (min-width: 1120px) {
    .head {
        background-image: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
    }
}
