$bgcolor: #f8f8f8;
html, .body {
    font-family: "TT Lakes";
    background-color: $bgcolor;
    overflow-x: hidden;
    overflow-y:auto;
    height: 100%;
    position: relative;
    bottom:0;
}
.main {
    
}