@import './normalize.scss';
@import  '../fonts/font.css';
@import './main.scss';
@import './header.scss';
@import './nav.scss';
@import './content.scss';


@import './swiper1.scss';
@import './headerSwiper1.scss';

@import './swiper2.scss';

@import './swiper3.scss';

@import './warn.scss';
@import './footer.scss';

@import './popupIcons.scss';
@import './popupNav.scss';
@import './popupFooter.scss';

@import './modal.scss';

@import './logo.scss';