

.swiper-container {
    margin-top: 16px;
    
}
.swiper-pagination-bullet-active {
    background-color: #b5b6bc !important;
}

.swiper-slide {
    background-color: #ffffff;
   
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 10px;
}
.go {
    background-image: url(../img/go.svg);
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
}
.logo-of-companies__link_down {
    display: none;
}
.logo-of-companies__el_click {
    display: none;
}
.logo-of-companies__link_up {
    display: none;
}
@media (min-width: 768px) {
    .swiper-slide {
        margin-left: 0;
        width: auto;
        height: auto;
        
    }

    .swiper-container {
        height: 100%;
    }
}

.swiper-slide_first {
    height: 100% !important;
}