

.swiper-container {
    margin-top: 16px;
}
.swiper-pagination-bullet-active {
    background-color: #b5b6bc !important;
}

.swiper-slide {
    background-color: #ffffff;
    margin-left: 16px;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    justify-content: space-around;
    align-items: center;
}
@media (min-width: 768px) {
    .swiper-slide {
        margin-left: 0;
        width: auto;
        height: auto;
        
    }

    .swiper-container {
        height: 100%;
    }
}

